{% load i18n %}
{% load horizon %}
{% if messages %}
  <div class="messages">
  {% for message in messages %}
    {% if "info" in message.tags %}
      <div class="alert alert-info alert-dismissable fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <p><strong>{% trans "Info: " %}</strong>{{ message }}</p>
      </div>
    {% endif %}
    {% if "warning" in message.tags %}
      <div class="alert alert-warning alert-dismissable fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <p><strong>{% trans "Warning: " %}</strong>{{ message }}</p>
      </div>
    {% endif %}
    {% if "success" in message.tags %}
      <div class="alert alert-success alert-dismissable fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <p><strong>{% trans "Success: " %}</strong>{{ message }}</p>
      </div>
    {% endif %}
    {% if "error" in message.tags %}
      <div class="alert alert-danger alert-dismissable fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <p><strong>{% trans "Error: " %}</strong>{{ message }}</p>
      </div>
    {% endif %}
  {% endfor %}
  </div>
{% else %}
    <div ng-controller="messagesCtrl" class="messages">
      <alert ng-repeat="alert in alerts"
             class="alert-block"
             type="alert.type"
             close="closeAlert($index)"
             ng-cloak>
        <p>
          <strong ng-bind-html="alert.type_display"></strong>
          <span ng-bind-html="alert.msg"></span>
        </p>
      </alert>
    </div>
    {% json_angular messages "messages-json"%}
{% endif %}