{% load i18n %}
<div data-tab data-active="tabs[2].active" data-select="select(2)" >
  <div data-tab-heading ng-class="{done: !tabs[2].active && tabs[2].valid}" class="heading">
    {% trans "Step 3 " %} - {% trans "Enter Stack Parameters" %}
  </div>
  <div class="left">
     <div class="form-horizontal row-fluid" ng-form="ParametersForm" ng-controller="ParametersCtrl">
          <fieldset>
            <div class="control-group form-field clearfix" ng-repeat="p in launchStack.parameters">
                <div data-heat-parameter param="p"></div>

                {{  p }}

            </div>
          </fieldset>
      </div>
  </div>
  <div class="span4">
      <h3>{% trans "Step 3" %} - {% trans "Resolve Environment References" %}</h3>
      {% blocktrans %} Enter some parameter values based on your template..{% endblocktrans %}
  </div>

</div>
