{% load i18n %}
<div data-tab data-active="tabs[2].active" data-select="select(2)" >
  <div data-tab-heading ng-class="{done: !tabs[2].active && tabs[2].valid}" class="heading">
    {% trans "Step 3 " %} - {% trans "Enter Stack Parameters" %}
  </div>
  <div class="form-horizontal row-fluid" ng-form="SelectTemplateForm" ng-controller="SelectTemplateCtrl">
      <fieldset>
        test
      </fieldset>
      <div class="span4">
          <h3>{% trans "Step 3" %} - {% trans "Resolve Environment References" %}</h3>
          {% blocktrans %} Enter some parameter values based on your template..{% endblocktrans %}
      </div>
  </div>
</div>
