{% load i18n %}
<div data-tab data-active="tabs[2].active" data-select="select(2)" >
  <div data-tab-heading ng-class="{done: !tabs[2].active && tabs[2].valid}" class="heading">
    {% trans "Step 3 " %} - {% trans "Enter Stack Parameters" %}
  </div>
     <div class="row">
          <div class="col-sm-4">
               <div ng-form="ParametersForm" ng-controller="ParametersCtrl">
                  <fieldset>
                    <div class="control-group" ng-repeat="param in launchStack.parameters">
                       <label class="control-label">{$ param.label $}</label>
                       <span class="help-block" style="display: none;"> {$ param.description $}  </span>
                       <input class='form-control' name="'{$ param.label $}'" ng-model="param.value"/>
                    </div>
                  </fieldset>
               </div>
          </div>
          <div class="col-sm-6">
             <h3>{% trans "Step 3" %} - {% trans "Enter Template Parameters" %}</h3>
             {% blocktrans %}  Enter parameter values for your template. {% endblocktrans %}
          </div>
    </div>
</div>