{% load i18n %}
<div class="modal-header">
  <h3>{% trans "Launch Stack"%}</h3>
</div>
<form class="modal-body" name="LaunchStackForm" controller="ModalLaunchStackController">
<div data-tabset class="wizard">

{% include 'project/stacks/workflow/_launch_select_template.html' %}
{% include 'project/stacks/workflow/_launch_resolve_references.html' %}
{% include 'project/stacks/workflow//_launch_enter_parameters.html' %}
</div>
</form>

<div class="modal-footer">
  <a class="btn btn-warning" ng-click="cancel()">{% trans "Cancel" %}</a>
  <a class="btn btn-primary" ng-show="tabs[index].valid && (index < tabs.length - 1)" ng-click="next()">{% trans "Next" %} »</a>
  <a class="btn btn-info span2" ng-show="LaunchStackForm.$valid && (index === tabs.length - 1)" ng-click="launch(LaunchStackForm)" ng-disabled="LaunchStackForm.$invalid">{% trans "Launch" %}</a>
</div>
